.button-hover {
  @apply p-2 rounded-md text-left transition-colors cursor-pointer focus:outline-none;
  background-image: none;
}

.button-no-color-hover {
  @apply p-2 rounded-md text-left transition-colors cursor-pointer focus:outline-none;
  background-color: color-mix(in oklab, var(--color-base-content), transparent);
  background-image: none !important;
}

.button-no-color-hover:hover {
  background-color: color-mix(in oklab, var(--color-base-content), 10%, transparent);
}

.button-hover:hover {
  background-color: color-mix(in oklab, var(--color-base-content) 10%, transparent);
  box-shadow:
    inset 0 1px oklch(0% 0 0 / 0.01),
    inset 0 -1px oklch(100% 0 0 / 0.01);
}

.btn.button-hover {
  background-color: transparent;
  border: none;
}

@media (forced-colors: active) {
  .button-hover:hover {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

// Dropdown
.dropdown > button:hover
.dropdown > button {
  background-image: none;
  background-color: transparent;
  border: none;
}

.toolbar-dropdown-content {
  top: calc(100% + 1rem);
  left: 0;
}

.hovered .toolbar-dropdown-content:hover,
.hovered .toolbar-dropdown-content {
  opacity: 1;
  display: block;
}

.toolbar-dropdown-content:hover .active {
  @apply bg-transparent text-nowrap w-[initial];
}

.toolbar-dropdown-content .active:hover {
  @apply bg-base-300;
}

.dropdown-content,
.toolbar-dropdown-content {
  border: 2px solid var(--color-neutral);
}

.user-role-dropdown-menu .dropdown-content {
  width: initial;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}
